@import "https://fonts.googleapis.com/icon?family=Material+Icons";
.home-login-form{
    padding: 0px 20px 10px;
}
.home-login-form .form-footer{
    margin-bottom: 0;
}
.login-carico{
    width: 60px;
    position: relative;
    left: 15px;
    margin-top: 15px;
}
.form-footer .btn_custom-black{
background: #0f7bd5 !important;
text-shadow: none;
border-bottom: 2px solid #fff;
color:#fff;
font-weight:bold;
}
body 
{
	font-family: 'Quicksand', sans-serif !important;
  font-size:15px !important;
}

.btn_custom {
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color .3s;
}

.btn_custom:hover, .btn_custom:focus {
  background-color: #354c9e;
}

.btn_custom > * {
  position: relative;
}

.btn_custom span {
  display: block;
  padding: 12px 24px;
}

.btn_custom:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn_custom:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn_blue
{
	background-color:#3f51b5 !important;
	color:#fff;
	width:100%;
	padding:10px;
    box-shadow: 3px 3px 8px #adadad;
    border-radius: 5px;
    font-weight: bold;
  }
.body_container
{
padding-left: 15px;
padding-right: 15px;
background-color: #fcfcfc;
}
.logo
{
  object-fit: contain;
}
.sidebar-menu li > a:hover
{
  text-decoration: none;
}
.s-icon i
{
  font-size: 18px !important;
}
.home-login-form #mymodal{
    -webkit-appearance: none;
}
.dropdown-menu > li > a
{
  padding: 10px 20px !important;
}
.dropdown-menu > li > a > span
{
   padding: 0 15px 0px 0px;
    vertical-align: middle;
}
.dropdown-menu
{
  font-size: 14px !important;
}
.bell_notify
{
    font-size: 20px !important;
    color: #3f51b5;
}

/*
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  
{

    /* Force table to not be like tables anymore */
  table.res_table, table.res_table thead, table.res_table tbody, table.res_table th, table.res_table td, table.res_table tr {
    display: block;
  }

    /* Hide table headers (but not display: none;, for accessibility) */
  table.res_table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table.res_table tr { 
    border: 1px solid #ccc; 
    margin-top: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  table.res_table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  table.res_table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

    /*
    Label the data
    */
  }

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    body {
      padding: 0;
      margin: 0;
      }


    }

  /* iPads (portrait and landscape) ----------- */
 


.list_settings
{
  padding :15px 0;
}
.text_box
{
  border: 1px solid #ccc;
    padding: 5px 10px;
    width: 100%;
}
.item_settings
{
  line-height: 33px;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3f51b5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3f51b5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.site_status
{
  width:100%;
}
.site_status.error
{
  color:#cc0000;
}
.site_status.success
{
  color:#00cc00;
}
.o_site_logo
{
  text-align: center
}
.o_site_logo img
{
  height:200px;
  width:200px;
}
.o_site_icon
{
  text-align: center;
}
.o_site_icon img
{
  height:100px;
  width:100px;
}
.n_site_logo,.n_site_icon
{
  text-align: center;
}

/*****************************************
  upload button styles
******************************************/
.file-upload {
  position: relative;
  cursor:pointer;
  display: inline-block;
  text-align: center;
  margin:20px 0;
}

.file-upload__label {
  display: block;
  cursor: pointer;
}
    
.file-upload__input {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}
#site_color
{
   width: 100%;
    border: 1px solid #ccc;
    padding: 36px 10px;
    margin: 10px 0;
    border-radius: 2px;
}
.selectpicker
{
   width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    padding: 5px 10px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 970px)
{

  .res_table
{
  width:100%;
} 
  .res_table thead
{
  font-weight: bold;
  font-size:13px;
  padding: 10px;
 
  text-align:left;
  border-top: none !important;
}
}
.res_table tr td a:hover{
  color: #3b5998 !important;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 980px)
{
  .search-form .form-group-search:hover,
.search-form .form-group-search.hover {
  width: 80% !important;
  border-radius: 4px 25px 25px 4px;
}

.add_form .row {
    padding: 10px 5px !important;
}
       
.uhistory,.uedit,.udelete
{
  width:100%;
   margin: 10px 2px !important;
}

.res_table
{
  width:72%;
} 
  .res_table thead
{
  font-weight: bold;
  font-size:13px;
  padding: 10px;
 
  text-align:left;
  border-top: none !important;
}
.res_table td, .res_table th, .res_table tr, .res_table tbody, .res_table thead, table.res_table
     {
        display: block;
    }
    .res_table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
   .res_table tr { border-left: 1px solid #d4d4d4; border-right: 1px solid #d4d4d4; }
    .res_table td {
        border: none;
        border-bottom: 1px solid #d4d4d4;
        position: relative;
        padding-left: 50% !important;
        word-wrap:break-word;
    }
    .res_table td:before {
        position: absolute;
        top: 14px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
/*        white-space: nowrap;*/
    }
}
#user_listing_filter input
{
   border: 1px solid #ccc;
 
    padding: 5px 10px;
}




.uhistory
{
  background: #00cca8;
    padding: 5px 10px;
    color: #fff;
    box-shadow: 3px 3px 8px #adadad;
    cursor:pointer;
    margin:0 2px;
    font-size: 14px;
}

.uedit
{
  background: #5bd153;
    padding: 5px 10px;
    color: #fff;
    box-shadow: 3px 3px 8px #adadad;
    cursor:pointer;
    margin:0 2px;
    font-size: 14px;
}

.udelete
{
  background: #e15e5e;
    padding: 5px 10px;
    color: #fff;
    box-shadow: 3px 3px 8px #adadad;
    cursor:pointer;
    margin:0 2px;
    font-size: 14px;
}

.uhistory i, .uedit i, .udelete i
{
  padding:0 5px;
}
.uhistory:hover, .uedit:hover, .udelete:hover
{
  opacity: 0.8;
}
.panel-custom
{
  padding:15px 5px;
  margin-top: 30px;
  position:relative;
}




.search-form .form-group-search input.form-control {
  padding: 0px 30px 1px 5px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
  font-size: 16px;
  color:#fff;
}
.search-form .form-group-search input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group-search input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group-search input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group-search input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group-search:hover,
.search-form .form-group-search.hover {
  width: 25%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group-search span.form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  left: initial;
  font-size: 16px;
}

#user_listing_filter
{
  display:none;
}



.floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #3f51b5;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}
.edit{
  position: absolute !important;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  padding: 0;
  opacity: 0;
  margin: auto;
  line-height: 65px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 45px;
  font-size: 38px;
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}



.floating-button:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}


@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

.floating-button:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}


@import "bourbon";

@include keyframes(spin) {
  from { @include transform(rotate(180deg)); }
  to   { @include transform(rotate(720deg)); }
}
@include keyframes(reverse-spin) {
  from { @include transform(rotate(720deg)); }
  to   { @include transform(rotate(180deg)); }
}

.relative-action-btn
{
   position: relative !important;
   margin: 10px;
}

.float_right
{
  float:right;
}